body{

	background-color: : black;
	/*height: 100%;*/

}

.splashscreen {
	height: 90vh;
	background-image: url(https://www.k9ofmine.com/wp-content/uploads/2017/02/best-dog-food-for-dogs-with-sensitive-stomachs-1150x700.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	align-items: center;
	justify-content: center
}

nav {
	display: inline-block;
	float: right;
}
.sitetile {
	text-align: left;
	display: inline-block;
	font-family: Impact, Charcoal, sans-serif;
}

.title_ {
	font-family: Impact, Charcoal, sans-serif;
}

.title_1{
	font-family: Impact, Charcoal, sans-serif;
	color: white;
	font-size: xx-large;
	text-align: center;
}

.longpicture {
	width: 100%;
	margin: 0 auto;

}

.top{
	text-align: center;
}

.top{
	text-align: center;
}

h1 {
	text-align: center;
}

.find {
	font-family: Impact, Charcoal, sans-serif;
	font-size: larger;

}

.black {
	font-style: italic;
}

h2{
	text-align: center;
}

footer {
	text-align: center
}

.foot {
	font-family: Impact, Charcoal, sans-serif;

}

.ul {
	background-color: white;
	display: inline;
	list-style-position: none;
	color: black;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
ul li {
	display: inline;
	padding: 40px;
	margin: 5px;
	font-family: Impact, Charcoal, sans-serif;

	

}

.blocks{
	position: top 20px;
}

button{
	font-size: 2em;
	font-family: Impact, Charcoal, sans-serif;

}

.button {
	text-align: center;
	padding: 15px 32px;



	

}


.red {
	color: red;
}

.fgallery{
font-family: Impact, Charcoal, sans-serif;
font-size: xx-large;
margin-top: 20%;
margin-bottom: 10%;
text-decoration: underline;
}

img{
	width: 100%;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 3em;
	text-align: center;
}

.mobile {
	display: none;
}

@media all and (max-width: 800px){
	.grid {
		grid-template-columns: 1fr 1fr;
	}

.mobile {
	display: block;
}
.desktop {
	display: none;
	}
}

@media all and (max-width: 460px){
    .grid {
        grid-template-columns: 1fr;
    }
   
    .mobile {
        display: block;
    }
    h1.mobile {
        display:none;
    }
    .desktop {
        display: none;
    }
}

/* and for printed version of our website */
@media print {
    .wrapper {
    grid-template-columns: 1fr 1fr;
    }
}


.grid_1 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1em;
	text-align: right;
}

.mobile {
	display: none;
}

@media all and (max-width: 800px){
	.grid_1 {
		grid-template-columns: 1fr 1fr;
	}

.mobile {
	display: block;
}
.desktop {
	display: none;
	}
}

@media all and (max-width: 460px){
    .grid_1 {
        grid-template-columns: 1fr;
    }
   
    .mobile {
        display: block;
    }
    h1.mobile {
        display:none;
    }
    .desktop {
        display: none;
    }
}


.banana {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1em;
	text-align: center;
}

.mobile {
	display: none;
}

@media all and (max-width: 800px){
	.banana {
		grid-template-columns: 1fr 1fr;
	}

.mobile {
	display: block;
}
.desktop {
	display: none;
	}
}

@media all and (max-width: 460px){
    .banana {
        grid-template-columns: 1fr;
    }
   
    .mobile {
        display: block;
    }
    h1.mobile {
        display:none;
    }
    .desktop {
        display: none;
    }
}



.flavors {
	font-family: Impact, Charcoal, sans-serif;
	font-size: xx-large;
	margin-top: 30%;
	margin-bottom: 15%;
	text-decoration: underline;

}

#gallery img {
	width: 90%;	
}

.manu{
	font-family: Impact, Charcoal, sans-serif;
	font-size: xx-large;
	display: block;
	margin-top: 15%;
	margin-bottom: 10%;
	text-decoration: underline;
}

.contact {
	font-size: large;
	text-decoration: underline;

}
	
}
.withPaddings {
	padding: 0 2em;
}
#map {

	
}
a:link{color:red;}
a:visited{color:black;}


